#update-modal
  .modal-dialog.update-modal
    .modal-content.update-modal
      .modal-header.update-modal
        %h3 Update Menu Item  

      .modal-body  

        =simple_form_for @menu,html: {id: "newmenu"}, remote: true do |menu|
          %div{id: "alert_update"}
            %div{id: "error_explanation_update"}        
            %ul.errors{id: "ulerrors_update"}         

          =menu.input :name
          =menu.input :cost
          =menu.input :picture, input_html: { hidden: true }



          =image_tag(@menu.picture.url, width: 500)



          .modal-footer
            =menu.button :submit, "Update Menu Item ", class: "btn btn-danger" 
            =menu.button :button, "Cancel", class: "btn btn-default", data: { dismiss: "modal" }