-if is_current_user?(user)
  %li.list-group-item.list-group-item-success
    %a{:href => user_path(user)} 
      .fa.fa-drivers-license-o&&nbsp;#{user.name} 
      (
      .fa.fa-envelope-o&&nbsp;#{user.email}
      )
-else
  %li.list-group-item
    %a{:href => user_path(user)} 
      .fa.fa-drivers-license-o&&nbsp;#{user.name} 
      (
      .fa.fa-envelope-o&&nbsp;#{user.email}
      )

    
