-@users.each do |user|
  -if @all_orders_by_user_id[user.id]
    -first_row = true
    -@all_orders_by_user_id[user.id].each do |order|
      %tr.order_row
        -if first_row
          %td.user_name{rowspan: "#{@all_orders_by_user_id[user.id].count}"} 
            =order.user.name
        %td.course_type
          =order.course_type.name
        %td.name
          =order.menu.name

        %td.cost
          ="%.2f" % order.menu.cost
        -first_row = false
    %tr.empty_row
      %td{colspan: '4'}
