#all-index-modal
  .modal-dialog.all-index-modal
    .modal-content.all-index-modal
      .modal-header.all-index-modal
        =render "all_index"
      .modal-footer.all-index-modal
        =link_to "Close", "#", class: "btn btn-default", data: { dismiss: "modal" }
