@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* universal */ 

body {
  padding-top: 60px;
  background-color: #f2f2f2;
  color: #555;
  font-weight: 300;
  font-size: 16;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
//  margin-top: 70px; 
}

.center {
  text-align: center;
}
