
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$gray-medium-light: #eaeaea;
$gray-light: #f2f2f2;
$gray-text: #555;
$gray-navbar: #2d2d2d;
$gray-logo: #999;
$hover_red: #b44b56;
$th-background-color-weekday: #334d00;
$td-background-color-weekday: #c4ff4d;
$th-background-color-holiday: #4d0000;
$td-background-color-holiday: #ff4d4d;
$th-background-color-today-weekday: #223300;
$td-background-color-today-weekday: green;
$th-background-color-today-holiday: #330000;
$td-background-color-today-holiday: red;
$week-header-color-text: #003300;
$week-header-color-link: #73e600;


$all-width: 100%;
$column-count: 7;


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box; 
}


// universal  

body {
  padding-top: 60px;
  background-color: $gray-light;
  color: $gray-text;
  font-weight: 300;
  font-size: 16;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
//  margin-top: 70px; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-text;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.center{
  background-color: $gray-medium-light;
}

// header 

.navbar{
  font-weight: 800;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-inverse {
   background-color: $gray-navbar;
   border-color: $gray-navbar;
}

.navbar-inverse .navbar-text{
  color: $gray-medium-light;
  margin-left: 15px;
}
.navbar-inverse .navbar-text:hover,
.navbar-inverse .navbar-text:focus {
  color: $hover_red;
}

.navbar-inverse .navbar-brand {
  font-weight: bolder;
  font-size: 35px;
  letter-spacing: -1px;
  color: $gray-medium-light;
  padding-top: 9px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: $hover_red;
}

.navbar-inverse .navbar-nav > li > a {
  color: $gray-medium-light;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: $hover_red;
}

.lunches-admin-header-text{
  color: red;
}

//for mobile
.navbar-inverse .navbar-toggle {
    border-color: $hover_red;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: $hover_red;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: $gray-medium-light;
}

.panel{
  margin-top: 15px;
}




// footer 

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $hover_red;
    }
  }
  #lefttext {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }  
  }
}



.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  border-color: $hover_red;
}

//privacy
h5{
  font-weight: bold;
  margin-top: 15px;
}
.privacy_div{
  margin-top: 15px;
}


//menus
#menus .calendar {
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 6px;
    border: 1px solid $gray-logo;
  }

  th {
    background: $gray-medium-light;
    color: $gray-light;
    text-align: center;
    width: ($all-width / $column-count);
    &.weekdays {
      background-color: $th-background-color-weekday;
    }
    &.holidays {
      background-color: $th-background-color-holiday;
    }
    &.today.weekdays {
       background-color: $th-background-color-today-weekday;
    } 
    &.today.holidays {
       background-color: $th-background-color-today-holiday;
    }       
  }

  td {
    color: black;
    height: 150px;
    vertical-align: top;
    font-size: 28px;
    overflow: hidden; 

     &.weekdays {
      background-color: $td-background-color-weekday;
    }  
    &.holidays {
      background-color: $td-background-color-holiday;
    }
    &.today.weekdays {
       background-color: $td-background-color-today-weekday;
    } 
    &.today.holidays {
       background-color: $td-background-color-today-holiday;
    }     
  }

}

#menu-today .table {
  width: 100%;
  table-layout: fixed;
  th {
    background: $gray-medium-light;
    color: $gray;
    text-align: center;
    &.name {
      width: 65%;
    }
    &.name_order{
      width: 75%;
    }
    &.image {
      width: 10%;
    }
    &.image_order{
      width: 10%;
    }
    &.cost {
      width: 15%;
      text-align: right;
      padding-right: 5%; 

    }
    &.cost_order{
      width: 15%;
    }

    &.delete {
      width: 10%;
    }        
  }
  td {
    
    vertical-align: middle; 

    &.name {
      text-align: left;
    }
    &.image {
      .td_image{
 
        width: 100%;
        cursor:pointer;
      }
      
    }
    &.cost {
      text-align: right;
      padding-right: 5%;
    }
    &.delete {
      text-align: center;
      a {

      }
    }    
  }  
}

#order .table {
  width: 100%;
  table-layout: fixed;
  th {
    background: $gray-medium-light;
    color: $gray;
    text-align: center;

    &.checked{
      width:5%
    }
    &.name{
      width: 45%;
    }
    &.image {
      width: 20%;
    }

    &.cost {
      width: 30%;
      text-align: right;
      padding-right: 5%; 

    }
        
  }
  td {
    
    vertical-align: middle; 

    &.name {
      text-align: left;
    }
    &.image {
      .td_image{
 
        width: 100%;
        //cursor:pointer;
      }
  
      
    }
    &.cost {
      text-align: right;
      padding-right: 5%;
    }
    &.delete {
      text-align: center;
      a {

      }
    }    
  }  
}


#currency {
  text-align: right;
  margin-bottom: 2px;
  margin-right: 10%;
  #currency_select{
    width: 16.5%;
  }
}

#menus #week {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
  color: $week-header-color-text;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: $week-header-color-link;
  }
  a:hover {
    color: $hover_red;
  }
}

.modal-dialog {
  &.delete-modal{
    text-align: center;
  }

  .modal-content{
    .modal-header{
      &.delete-modal{
        background-color: $hover_red;
        color: black;
      }

      &.update-modal{
        background-color: $gray-light;
        text-align: center;
      }

    }
    .modal-footer{
      text-align: center;     
    }  
  }
}

.big_image{
    display:none;
    margin-left:50px;

    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}
td.image:hover .big_image{
    display:block;
    position:absolute;
}

#orders .table {
  width: 100%;
  table-layout: fixed;
  th {
    background: $gray-medium-light;
    color: $gray;
    text-align: center;

    &.user_name{
      width:25%
    }
    &.course_type{
      width:15%
    }
    &.name{
      width: 40%;
    }

    &.cost {
      width: 20%;
      text-align: right;
      padding-right: 5%; 

    }
        
  }
  td {
    
    vertical-align: middle; 

    &.name {
      text-align: left;
    }

  
    &.cost {
      text-align: right;
      padding-right: 5%;
    }   
  }  
  tr.empty_row{
    background: $gray-medium-light;  
  }
  tr.sum_row{
    td.total{
      text-align: right;
      padding-right: 5%;
      font-weight: bold;
    }
    td.all_sum{
      text-align: right;
      padding-right: 5%;
      font-weight: bold;
    }
  }
}