%footer.footer
  %small#lefttext
    .fa.fa-product-hunt 
    Eat for Life Production, 2017
  %small
    %ul
      %li= link_to "Privacy Notice",   privacy_notice_path
      %li= link_to "Conditions of Use", conditions_of_use_path
